

.puisi h2 {
    color: black;
    margin-top: 150px;
    margin-left: 140px;
    font-weight: 200;
}


.pentol {
    width: 280px;
    height: 280px;
    position: relative;
    margin-left: 70%;
    margin-top: -400px;
    border: 2px solid #fff;
    box-shadow: 0 0 20px 5px lightpink;
    border-radius: 500px;
    animation: pentol 20s linear infinite;
}

audio {
    opacity: 0.9;
}

.mode {
    margin-top: 70px;
}

.mode img {
    border-radius: 50px;
}




@media screen and (max-width: 600px) {
    .puisi h1 {
        left: 100px;
    }

    .puisi h2 {
        font-size: 16px;
        margin-left: 20px;
    }

    .pentol {
        margin-top: 450px;
        left: -20px;
        width:170px;
        height: 170px;
        animation: pentol 20s linear infinite;
    }
}

@keyframes pentol {
    0% {
        transform: rotate(360deg);
    }
}

input {
    top: 0;
}

.input {
    top: 0;
}

#resetbg {
    top: 0;
}

.conbgreset {
    height: 100%;
}